<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Edit User</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="vm.update(form)" novalidate>
                <div class="form-group" ng-class="{ 'has-success': form.role.$valid && vm.submitted,
                                            'has-error': form.role.$invalid && vm.submitted }">
                    <label>Role</label>
                    <select name="role" class="form-control" ng-model="vm.user.role" required>
                        <option value="user">User</option>
                        <option value="manager">Manager</option>
                    </select>
                    <p class="help-block" ng-show="form.role.$error.required && vm.submitted">
                        A role is required
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="vm.user.name" required/>
                    <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
                        A name is required
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="vm.user.email" required mongoose-error/>
                    <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                        Doesn't look like a valid email.
                    </p>
                    <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
                        What's your email address?
                    </p>
                    <p class="help-block" ng-show="form.email.$error.mongoose">
                        {{ vm.errors.email }}
                    </p>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Edit
                    </button>
                    <a class="btn btn-lg btn-default" ui-sref="user">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>